<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthcodebe.mapper.AccountMapper">
    <resultMap id="BaseAccountMap" type="com.example.healthcodebe.entity.Account">
        <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="admin" property="admin" jdbcType="BOOLEAN" />
        <result column="sampler" property="sampler" jdbcType="BOOLEAN" />
        <result column="tester" property="tester" jdbcType="BOOLEAN" />
        <result column="token" property="token" jdbcType="VARCHAR" />
        <result column="refresh_token" property="refreshToken" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAccountInfo" resultMap="BaseAccountMap" parameterType="map">
        SELECT
        *
        FROM
        account
        <where>
            id_number = #{condition.id_number}
            AND password = #{condition.password}
        </where>
    </select>

    <select id="getAccountById" resultMap="BaseAccountMap" parameterType="String">
        SELECT
        *
        FROM
        account
        <where>
            id_number = #{id}
        </where>
    </select>

    <insert id="add" parameterType="com.example.healthcodebe.entity.Account">
        INSERT INTO account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idNumber != null and idNumber != ''">id_number,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="admin != null">admin,</if>
            <if test="sampler != null">sampler,</if>
            <if test="tester != null">tester,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="idNumber != null and idNumber != ''">#{idNumber},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            <if test="admin != null">#{admin},</if>
            <if test="sampler != null">#{sampler},</if>
            <if test="tester != null">#{tester},</if>
        </trim>
    </insert>



    <update id="updatePasswd" parameterType="map">
        UPDATE account
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.password != null and condition.password != ''">
                password = #{condition.password},
            </if>
        </trim>
        <where>
            <if test="condition.id_number != null and condition.id_number != ''">
                id_number = #{condition.id_number}
            </if>
        </where>
    </update>

    <update id="updatePhoneNumber" parameterType="map">
        UPDATE account
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.phone_number != null and condition.phone_number != ''">
                phone_number = #{condition.phone_number},
            </if>
        </trim>
        <where>
            <if test="condition.id_number != null and condition.id_number != ''">
                id_number = #{condition.id_number}
            </if>
        </where>
    </update>

    <update id="updateAdmin" parameterType="map">
        UPDATE account
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.admin != null and condition.admin != ''">
                admin = #{condition.admin},
            </if>
        </trim>
        <where>
            <if test="condition.id_number != null and condition.id_number != ''">
                id_number = #{condition.id_number}
            </if>
        </where>
    </update>

    <update id="updateTester" parameterType="map">
        UPDATE account
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.tester != null and condition.tester != ''">
                tester = #{condition.tester},
            </if>
        </trim>
        <where>
            <if test="condition.id_number != null and condition.id_number != ''">
                id_number = #{condition.id_number}
            </if>
        </where>
    </update>

    <update id="updateSampler" parameterType="map">
        UPDATE account
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.sampler != null and condition.sampler != ''">
                sampler = #{condition.sampler},
            </if>
        </trim>
        <where>
            <if test="condition.id_number != null and condition.id_number != ''">
                id_number = #{condition.id_number}
            </if>
        </where>
    </update>

</mapper>
