<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthcodebe.mapper.HealthCodeMapper">
<!--    @TableId(value = "id_number", type = IdType.AUTO)-->
<!--    private String idNumber;-->

<!--    @TableField("color")-->
<!--    private Integer color;-->

<!--    @TableField(value = "update_time", fill = FieldFill.INSERT_UPDATE)-->
<!--    private LocalDateTime updateTime;-->

<!--    @TableField("qr_code")-->
<!--    private String qrCode;-->
    <resultMap id="BaseHealthCodeMap" type="com.example.healthcodebe.entity.HealthCode">
        <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
        <result column="color" property="color" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getHealthCodeById" resultMap="BaseHealthCodeMap" parameterType="String">
        SELECT
        *
        FROM
        health_code
        <where>
            id_number = #{id}
        </where>
    </select>

    <update id="healthCodeChangeById" parameterType="map">
        UPDATE
        health_code
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.color != null">
                color = #{condition.color},
            </if>
            <if test="condition.update_time != null">
                update_time = #{condition.update_time},
            </if>
        </trim>
        <where>
            id_number = #{condition.id_number}
        </where>
    </update>

    <insert id="initHealthCodeWhenRegister" parameterType="com.example.healthcodebe.entity.HealthCode">
        INSERT INTO health_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idNumber != null and idNumber != ''">id_number,</if>
            <if test="color != null">color,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="qrCode != null">qr_code,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="idNumber != null and idNumber != ''">#{idNumber},</if>
            <if test="color != null">#{color},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="qrCode != null">#{qrCode},</if>
        </trim>
    </insert>
</mapper>
